@inject DadosCarteiras dados

<h3>Transferencia</h3>
@if ((transferenciaOk is null || transferenciaOk == false) && confirmarCpf == false)
{
    <p>Conta Destino</p>
    <input type="text" @bind=contaDestino/>
    <br><br>
    <p>Valor da Transferencia</p>
    <input type="number" @bind=ValorTransferencia/>
    <br><br>
    <button @onclick=Transferir > Confirma Transferencia</button>
}

@if (confirmarCpf == true)
{
    <p>Confirme os 3 primeiros digitos do CPF da sua conta</p>
    <input type="text" @bind=cpfParaTeste/>
    <br><br>
    <button @onclick=ConfirmaCpf> Confirma CPF</button>
}


@if(transferenciaOk is not null)
{
    @if (transferenciaOk == true)
    {
        <h1>Deposito Realizado com sucesso!</h1>
        <p>Resumo</p>
        <br>
        <p>Destino: @contaDestino</p>
         <br>
        <p>Valor: @ValorTransferencia</p>
          <br>
        <p>Data: @DateTime.Now.ToLongDateString() </p>

    }
    else
    {
       <h1>Erro! não foi possivel realizar está operação</h1>  
    }
}

@code {
    [Parameter]
    public Carteira Conta { get; set; }
    bool? transferenciaOk = null;
    bool confirmarCpf = false;
    string contaDestino;
    double ValorTransferencia;
    string cpfParaTeste = "";

    public void Transferir()
    {
        Carteira destino = dados.ListaDados.FirstOrDefault(c => c.Dono == contaDestino);

        if (destino is not null)
        {
            if(ValorTransferencia > 1000)
            {
                confirmarCpf = true;
            }
            else
            { 
                Conta.Transferir(destino, ValorTransferencia);
                transferenciaOk = true;
            }
        }
        else
        {
            transferenciaOk = false;
        }
    }

    public void ConfirmaCpf()
    {
        if(cpfParaTeste  == Conta.CPF.Substring(0, 3))
        {
            Carteira destino = dados.ListaDados.FirstOrDefault(c => c.Dono == contaDestino);

            Conta.Transferir(destino, ValorTransferencia);

            confirmarCpf = false;
            transferenciaOk = true;
        }
        else
        {
            transferenciaOk = false;
        }
    }
}
