@page "/cadastro"
@inject DadosCarteiras  dados

<PageTitle>Cadastrar Carteira</PageTitle>

<h5>Nome:</h5>
<input type="text" @bind=nome/>
<br><br>

<h5>CPF:</h5>
<input type="text" min="11" @bind=CPF/>
<br><br>

<h5>Valor Deposito Inicial:</h5>
<input type="text" @bind=valor/>
<br><br>

<button class="btn btn-primary" @onclick="CriarConta">
    Criar Conta</button>

    <br><br>
    <h1>@mensagem</h1>


@code {
    private string nome;
    private double valor;
    private string CPF;
    private string mensagem = "";

    private void CriarConta()
    {
        Carteira novaConta = new Carteira();

        novaConta.Dono = nome;
        novaConta.CPF = CPF;
        novaConta.Depositar(valor, true);

        dados.ListaDados.Add(novaConta);

        mensagem = $"Carteira Criada com Sucesso ({novaConta.NumeroDaConta} {novaConta.LimiteConta} {nome} Saldo:{valor})";

        nome = "";
        CPF = "";
        valor = 0;
    }
}
