@page "/"
@inject DadosCarteiras dados
@inject DadosCarteiras dadosCarteira

<p>Data do Sistema:</p>
<br>
<p>@dados.DataDoSistema</p>

<br><br>
<p>Atualizar Data</p>

<input type="datetime" @bind=dados.DataDoSistema></input>

<br>
<button @onclick="CobrarTodasTarifas">Cobrar Tarifas (Todos as Contas) </button>
<br>    

@if(tarifasCobradas)
{
    <p>Todas as tarifas pendentes foram cobradas</p>
}

@code {
    bool tarifasCobradas = false;

    public void CobrarTodasTarifas()
    {
        foreach(var carteira in dadosCarteira.ListaDados)
        {
            carteira.CobrarTarifa();
            tarifasCobradas = true;
        } 
    }
}